html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
}

#c {
    border: solid 10px white;
}
    
.container {
    width: 1201px;
    margin: 150px auto;
    position: relative;
    text-align:center;
 }
 
.up {
    position: fixed;
    width: 40vw;
    height: 40vh;
    top: 0;
    left: 30vw;
    background-color: white;
    opacity: 0.3;
}

.down {
    position: fixed;
    width: 40vw;
    height: 40vh;
    top: 60vh;
    left: 30vw;
    background-color: white;
    opacity: 0.3;
}

.left {
    position: fixed;
    width: 30vw;
    height: 60vh;
    top: 20vh;
    left: 0;
    background-color: white;
    opacity: 0.3;
}

.right {
    position: fixed;
    width: 30vw;
    height: 60vh;
    top: 20vh;
    left: 70vw;
    background-color: white;
    opacity: 0.3;
}
